.featuresOneContainer{
    background-color: #f1fdf7;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0px;
    .featuresOneWrapper{
        width: 1400px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 100px;
        .featuresOneLeft{
            display: flex;
            flex-direction: column;
            gap: 15px;
            flex: 2;
            h2{
                font-weight: 700;
                margin-bottom: 10px;
            }
            .featuresOneLeftItem{
                margin: 0px;
                padding: 0px;
                display: flex;
                flex-direction: column;
                column-gap: 10px;
                row-gap: 10px;
                margin-bottom: 30px;
                .title{
                    margin: 0px;
                    padding: 0px;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    font-weight: 700;
                    font-size: 18px;
                    color: rgb(63, 63, 63);
                    
                    .check-icon{ 
                        width: 24px;
                        height: 24px;
                    }
                }
                .text{
                    font-size: 18px;
                    font-weight: 300;
                    color: gray;
                    line-height: 20px;
                    letter-spacing: 1px;
                }
            }
            
        }
        .featuresOneRight{
            display: flex;
            flex-direction: column;
            gap: 15px;
            flex: 1;
            width: auto;
            margin-right: 40px;

            video{
                width: 700px;
            }
        }
    }
}