.red{
    background-color: red;
}

.loginContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    .loginWrapper{
        // width: 1400px;
        width: 500px;
        margin: 20px 0px 50px 0px;
        h1{
            color: dimgrey;
            font-weight: 700;
        }
        form{
            // width: 460px;
            border: 1px solid lightgray;
            border-radius: 8px;
            padding: 20px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            input[type=email], input[type=password], input[type=search], input[type=text] {
                -moz-appearance: textfield !important;
                appearance: textfield !important;
                outline: none;
            }
            .form-group{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 10px;

                .form-control-label{
                    color: gray;
                    font-weight: 800;
                }
                .form-control-input{
                    border-width: 1px;
                    border-style: solid;
                    border-color: rgb(173, 173, 173);
                    border-image: initial;
                    border-radius: 4px;
                    padding: 15px;
                    &:focus{
                        outline: #17a563 auto 0.1px;
                    }
                }

                .form-control-select{
                    padding: 15px;
                    color: gray;
                    appearance: auto;
                    border-width: 1px;
                    border-style: solid;
                    border-color: rgb(173, 173, 173);
                    border-image: initial;
                    border-radius: 4px;
                }

                .form-control-select:focus{
                    outline: #17a563 auto 0.1px;                            
                }
                .form-control-button{
                    background-color: #1dbf73;
                    padding: 10px;
                    color: white;
                    font-weight: 600;
                    border: none;
                    border-radius: 5px;
                    cursor: pointer;
                    width: 100%;

                    &:hover{background-color: #17a563;}
                }
            }
            .flex-row{
                flex-direction: row !important;
            }
        }
    }
}