.messageContainer{
    display: flex;
    justify-content: center;
    .messageWrapper{
        width: 1200px;
        margin-top: 30px;
        .messageTopBar{

            .breadcrumb{
                font-weight: 300;
                font-size: 13px;
                color: #555;
            }
              
        }
        .messageContent{
            margin: 30px 0px 30px 0px;
            // padding: 0px 50px 0px 50px;
            padding: 0px;
            display: flex;
            flex-direction: column;
            row-gap: 20px;
            height: 700px;
            .messagesWrapper{
                display: flex;
                flex-direction: column;
                row-gap: 20px;
                overflow: auto;
                height: 500px;
                padding: 0px 15px 40px 0px;
                .massageItem{
                    display: flex;
                    flex-direction: row;
                    gap: 20px;
                    max-width: 600px;
                    font-size: 18px;

                    .userInfo{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        text-align: center;
                        img{
                            width: 50px;
                            height: 50px;
                            border-radius: 50%;
                            object-fit: cover;
    
                           
                        }
                        .userName{
                           font-size: 15px;
                        }
                        .messageDate{
                            font-size: 13px;
                            font-style: italic;
                        }
                    }

                    p{
                        margin: 0px;
                        padding: 20px;
                        background-color: rgb(228, 228, 228);
                        border-radius: 0px 20px 20px 20px;
                        position: relative;
                        top: 15px;
                        color: gray;
                        font-size: 14px;
                        font-weight: 400;


                        /*&::after{
                            content: "";
                            position: absolute;
                            right: 100%;
                            top: 0px;
                            width: 0;
                            height: 0;
                            border-top: 5px solid transparent;
                            border-right: 15px solid rgb(228, 228, 228);
                            border-bottom: 5px solid transparent;
                        }*/
                    }

                    &.ownerMessage{
                        flex-direction: row-reverse;
                        align-self: flex-end;

                        p{
                            padding: 20px;
                            background-color: royalblue;
                            border-radius: 20px 0px 20px 20px;
                            position: relative;
                            top: 15px;
                            color: white;
                            font-size: 14px;
                            font-weight: 400;
    
                            /*&::after{
                                content: "";
                                position: absolute;
                                left: 100%;
                                top: 0px;
                                width: 0;
                                height: 0;
                                border-top: 5px solid transparent;
                                border-left: 15px solid royalblue;
                                border-bottom: 5px solid transparent;
                            }*/
                        }
                    }



                }
            }

            hr{
                height: 0px;
                border: 0.1px solid rgb(243, 243, 243);
                width: 100%;
                margin: 0px;
            }

            .writeContainer{
                // display: flex;
                
                width: 100%;
                padding: 0px 10px;

                form{
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    padding: 0px;

                    textarea{
                        width: 90%;
                        height: 120px;
                        padding: 10px;
                        border: 1px solid lightgray;
                        border-radius: 10px;
                        resize: none;
    
                        &:focus-visible{
                           outline: #17a563 auto 0.1px;
                        //    outline: -webkit-focus-ring-color auto 1px;
                        }
                    }
                    button{
                        background-color: #1dbf73;
                        padding: 10px;
                        color: white;
                        font-weight: 600;
                        border: none;
                        border-radius: 5px;
                        cursor: pointer;
                        width: 100px;
    
                        &:hover{background-color: #17a563;}
                    }
                }


            }
        }
    }
}