.addingContainer{
    display: flex;
    justify-content: center;
    margin: 20px 0px 50px 0px;
    .addingWrapper{
        width: 1400px;
        h1{
            color: dimgrey;
            font-weight: 700;
        }
        .addingSections{
            
            .main-form{
                display: flex;
                flex-direction: row;
                gap: 100px;
                input[type=email], input[type=password], input[type=search], input[type=text] {
                    -moz-appearance: textfield !important;
                    appearance: textfield !important;
                    outline: none;
                }
                .left{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    gap: 10px;
                    flex-grow: 1;
                    flex-shrink: 1;
                    flex-basis: 100%;
                    .form-group{
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        gap: 10px;
                        .form-label{
                            color: gray;
                            font-weight: 800;
                        }
                        .form-control-input{
                            border-width: 1px;
                            border-style: solid;
                            border-color: rgb(173, 173, 173);
                            border-image: initial;
                            border-radius: 4px;
                            // padding: 15px;
                            padding: 10px;
                            &:focus{
                                outline: #17a563 auto 0.1px;
                            }
                        }
                        .form-control-textarea{
                            // height: 210px;
                            height: 100px;
                            resize: none;
                            padding: 15px;
                            border-width: 1px;
                            border-style: solid;
                            border-color: rgb(173, 173, 173);
                            border-image: initial;
                            border-radius: 4px;

                            &:focus{
                                outline: #17a563 auto 0.1px;
                            }
                        }
                        .form-control-select{
                            // padding: 15px;
                            padding: 10px;
                            color: gray;
                            appearance: auto;
                            border-width: 1px;
                            border-style: solid;
                            border-color: rgb(173, 173, 173);
                            border-image: initial;
                            border-radius: 4px;
                        }

                        .form-control-select:focus{
                            outline: #17a563 auto 0.1px;                            
                        }
                        // .form-control-select.select-border{
                        //     border: #17a563 solid 2px;   
                        //     border-radius: 2px;       
                        // }
                        .form-control-input-file{
                            // padding: 15px;
                            padding: 10px;
                            appearance: auto;
                            // border: 1px solid currentColor;

                            border-width: 1px;
                            border-style: solid;
                            border-color: rgb(173, 173, 173);
                            border-image: initial;
                            border-radius: 4px;

                            &:focus{
                                outline: #17a563 auto 0.1px;
                            }
                            // &.file-border{
                            //     border: 2px solid #17a563;
                            // }
                        }

                        .form-control-button{
                            background-color: #1dbf73;
                            padding: 10px;
                            color: white;
                            font-weight: 600;
                            border: none;
                            border-radius: 5px;
                            cursor: pointer;
                            width: 100%;
        
                            &:hover{background-color: #17a563;}
                        }
                    }
                }

                .right{
                    display: flex;
                    flex-direction: column;
                    justify-content: start;
                    // justify-content: space-between;
                    gap: 10px;
                    flex-grow: 1;
                    flex-shrink: 1;
                    flex-basis: 100%;
                    .form-group{
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        gap: 10px;
                        // ANTES A DOS
                        .form-group-skills{
                            

                            .form-skills{
                                display: flex;
                                flex-direction: row;
                                gap: 20px;

                            }

                            .addedFeatures{
                                display: inline-flex;
                                // justify-content: space-between;
                                max-height: 160px;
                                // border: 1px solid red;
                                overflow-y: auto;
                                margin-top: 15px;
                                padding-right: 4px;
                                gap: 10px;

                               width: min-content;

                                .featureItem {
                                    display: inline-flex;
                                    position: relative;
                                    align-items: center;
                                    vertical-align: middle;
                                    justify-content: space-between;
                                    padding: 8px 20px 8px 8px;
                                    border: 1px solid rgb(173, 173, 173);
                                    border-radius: 5px;
                                    
                                    &:hover {
                                        background-color: rgb(245, 245, 245);
                                    }
                                    span{
                                        position: relative;
                                        
                                    }
                                    button{
                                        vertical-align: middle;
                                        visibility: hidden;
                                        background-color: transparent;
                                        padding: 5px;
                                        color: black;
                                        font-weight: 600;
                                        border: none;
                                        border-radius: 5px;
                                        cursor: pointer;
                                        width: auto;
                                        position: absolute;
                                        top: auto;
                                        right: 0;
                    
                                        &:hover{background-color: transparent; color: red;}
                                    }

                                    &:hover button{
                                        visibility: visible;
                                    }
                                }
                            }

                            &.no-gap{
                                gap: 0px;
                            }
                        }
                        .form-label{
                            color: gray;
                            font-weight: 800;
                        }
                        .form-control-input{
                            width: 100%;
                            // padding: 15px;
                            padding: 10px;
                            border-width: 1px;
                            border-style: solid;
                            border-color: rgb(173, 173, 173);
                            border-image: initial;
                            border-radius: 4px;
                            &:focus{
                                outline: #17a563 auto 0.1px;
                            }
                        }
                        .form-control-textarea{
                            // height: 210px;
                            height: 100px;
                            resize: none;
                            padding: 15px;
                            border-width: 1px;
                            border-style: solid;
                            border-color: rgb(173, 173, 173);
                            border-image: initial;
                            border-radius: 4px;
                            &:focus{
                                outline: #17a563 auto 0.1px;
                            }
                            &.textarea-height {
                              height: 150px;
                            }
                        }
                        .form-control-button{
                            background-color: #1dbf73;
                            padding: 10px;
                            color: white;
                            font-weight: 600;
                            border: none;
                            border-radius: 5px;
                            cursor: pointer;
                            width: auto;
        
                            &:hover{background-color: #17a563;}
                        }

                    }
                    /* CLASE ORIGINAL => form-group-delivery-revision */
                    .form-group-delivery-revision-price{
                        // ANTES A DOS COLUMNAS
                        display: grid;
                        grid-template-columns: auto auto; 
                        grid-template-rows: auto;
                        gap: 15px;
                        /* CLASE ORIGINAL => delivery-revision-price */
                        .delivery-revision-price{
                            display: flex;
                            flex-direction: column;
                            gap: 15px;

                            .form-label{
                                color: gray;
                                font-weight: 800;
                            }
                            .form-control-input{
                                // padding: 15px;
                                padding: 10px;
                                border-width: 1.5px;
                                border-style: solid;
                                border-color: rgb(173, 173, 173);
                                border-image: initial;
                                border-radius: 4px;
                                &:focus{
                                    outline: #17a563 auto 0.1px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}